@font-face {
  font-family: 'lucky';
  src: url('/public/LuckiestGuy.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html,body{
height: 100%;
width: 100%;
font-family: gilroy;
}

.lucky{
  font-family: lucky;
}